sudo: false
services:
- docker
env:
  global:
  - PLUGIN_NAME=linz-data-importer
  - IMAGE=elpaso/qgis-testing-environment
  - secure: HDzfCfZHXTSS2lbYT/vntMaQko80gcVgeQzrCsvAhpvDRO8dnPI37Bl9+MfxIcxy6jAbi43sU6KxHOYbnusIlv27sYb5ki0EnyPwxFf5lOzy1R4M74vyHI6dQyZs0G/Y4Qth2nrgPgn4nqYF1g7ZGj81SfTRtOawEI/oMC14pXhIet8q7J7DBhx2ESZzl9UFX/BZEnw9m74Jul9y+C3nKXz4sP7d3awI9BwHpF06KIkbM7hv4Rsfozoe6uAsGqmUyV+Ph5QstTBZrMwZ61j7yqpGXOFn3FZoWrFGXTxIWrTZUSIBdl2lu2hqQg26RvqtEgHLga8+wtKxU6BOrgQQCzEhPbHCHASHAS59YiZwmyKcvzYhmZ+yq6ljlJbdgQ/b+AlXQmSwJbFh3Pf0kIJ3Sj7W02+ADCQDiQqudWa+6cX3szG6VF6wlil6HG6fa8+kw1S/Sb75sr7PNZ6VJSrvhgIvGyJIH5ClCvtQ5U5nTAxR7MnyKdp0mWl5hS44JRhkjo5/26kiDpSsC+LHXqGCvxYP04Ig2jtLZ69+XWUdzOp2YGIm2sV6lOfCLa34swG4BFiiB0ygDQlboFownl0sQFu+dDdv33Y9jPAjLgGHtIlT9T7GFBUhMbOAMYCKNMh8xFkcypXUOz70iClJXiQWa6GPB7kdd5jOfGLCpg+6RQg=
  - secure: lX3OBbR0Qcy8q4SunvgxKe9eAZKrN3ekgpwlGJXMxfKuiPwSJMbhvzMx5L71m+P8f7vj3WkMjo38hF0nOxPD2xrqztCtldt6yl9Lex3r1r0hE26d83wyQVV1EFvYVXWjJJaG98nInnXKi18eF3EraDBtyCKvVEtvXGQYKdrISU66DxATJZ3GyrO2dIfFWNXDvgPihmEAQ2Xk/emw8b2xhCNLsVlSnJIyX+tfsAU/XqaVS+i//DjPKCWRRPvkoNUUN/idkDyoeYG5y2wQcj6bHlTmLOma2sOWOcL681Y1yDOWZUsAVFF+N/gwhSYlprd9lSsu6jQYD0wLHO+AV2zva7ys6zaQ29weQSTXzYFXocVknFe/+lwZaj88IU1lLcXgOgFfNebc04DQSYNV7YlKtPkKggxJ6DEHlaBoCvhlMMi1ZhM4wBQhZm+tV7sImmTTRkLVAgPsOro5J4WvDofnKhR2RMdg5ta2dzZOkMmRIdyvBdkBHe292/HFJiXeJkHHtEkNZpIbBNzN0amzaNehGvCM2csQ78TRkdIQ3Y48IEEo9LRZ5CGRXDOr2Tpp/ePdxyoC3YWEMWnEeBOmLJhP1S/lVtgWybybiehWk2ZfGh5k03z7yCHGYUN3jARdw5JJ/LW1mFMu5WK5FwAYwtNMJYcDJI2ogWEZXln/KibkySQ=
  - secure: ZViLrck45G44+AqRTSNLyXuHfRqhGim1q35uoXjfUZsnHsvaJpX/tQ8xpf2IZNfa0t6wyCQQ/oEB9e2rrRmZkPhWyyxJxiWGogvfAYq+/BDc3FFWhTZ5K6g/HX2VnHFXzuZjA3qTcPXA/ShLkeHanz1+HKhsdh9hH761lzgX6GogItAhrxiBXP4339ZL6h/4XVslcLsBFd0XBabWoanUj2wJXbKy1jyx043OpVVr9FFCDUGerEel7xBFZKUobuX1YiqCxKGwlHA+Wd5DHAjvWeSk5Mt7GvtGlZyCxgWsmeAA9JUnx8i2k+CdsJm8GTS4zRFuY5QrjUzWm6sJIMCZ/t1DprWB92zzemOrIYleREOvWth4lxsxdbOhm097wUgyHXXmetywGFpw5y33vSsGnbEB0JsfMzWFljKX+ahnRi32xBjdOtjh1GoeIa1QLRH564tTj6xQtlWwD1fj6D8bxw0ufvbtoe7wLlX8aD6irmuR+LbyuM3ko8snScV3U6aNOYtcxTl2AO+Nby9X2tvqe/tVtUM3j4wiMDfRhixzxJGXb6+OiqqaBr7GP2uL8a41cksHbINzhjHVsMJOIHD9luIhWAZ5Xrmq4vEr0g204w/NzinFb8C654DJ5wNzgf93WXyD2TncI3W98/61LYI0IHqSEdaOYs3Jb6qOW2ScFrM=
  matrix:
  - QGIS_VERSION_TAG=master
language: python
python:
- '3.6'
branches:
  only:
  - master_qgis3
before_install:
- docker pull ${IMAGE}:${QGIS_VERSION_TAG}
install:
- docker run -d --name qgis-testing-environment -v ${TRAVIS_BUILD_DIR}:/tests_directory
  -e LDI_LINZ_KEY -e LDI_MFE_KEY -e LDI_NZDF_KEY -e LDI_BASEMAPS_KEY -e DISPLAY=:99 ${IMAGE}:${QGIS_VERSION_TAG}
- sleep 10
- docker exec -it qgis-testing-environment sh -c "qgis_setup.sh ${PLUGIN_NAME}"
- docker exec -it qgis-testing-environment sh -c "ln -s /tests_directory /root/.local/share/QGIS/QGIS3/profiles/default/${PLUGIN_NAME}"
script:
- docker exec -it qgis-testing-environment sh -c "qgis_testrunner.sh ${PLUGIN_NAME}.tests.run_tests.run_test_modules"
